 <table class="table" id="table">
  <thead>
    <tr>
    <th>#</th>
    <th >Alpha two code</th>
    <th>Country</th>
    <th >Domains</th>
    <th>Name</th>
    <th>Web pages</th>
    <th >State province</th>
    <th >Save</th>
  </tr> 
 </thead>
  {{#each this}}
    <tr class="table__tr">
   <th>{{add @index 1}}</th>
    <th >{{alpha_two_code}}</th>
    <th>{{country}}</th>
    <th >{{domains}}</th>
    <th>{{name}}</th>
    <th><a class="link" target="_blank" href={{web_pages}}>{{web_pages}}</a></th>
    <th >{{state-province}}</th>

{{#if check}}
    <th > <input type="checkbox" name="checkbox" class="checkbox" checked="checked"   id={{ @index}}></th>
{{else}}
    <th > <input type="checkbox" name="checkbox" class="checkbox" id={{ @index}}></th>
{{/if}}
   </tr> 
{{/each}}
   </table>